body{
    background-color: cadetblue;

}

body header, h2{
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 80%;
}

p.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 25%;
    padding-right: 25%;    
}

p span{
    font-size: x-large;
    color: brown;  
}

section.service{
    padding-left: 25%;
    padding-right: 25%;
}

footer{
    padding-left: 33%;
    padding-right: 33%;
}